@import "tailwindcss";

@theme {
  --color-black-100: #000319;
  --color-custom-gray: #2c2938;
  --color-custom-red: "#ff0000";
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}